:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --paragraph-color: #757575;
  --focus-color: #2196F3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn-style {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  background: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}

.logo__theme-blue {
  color: var(--focus-color);
}

.heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
}

.social-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-list__link:hover, .social-icon-list__link:focus {
  background-color: #2196F3;
}

.social-icon-list__icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
}

.social-icon-list__link:hover .social-icon-list__icon,
.social-icon-list__link:focus .social-icon-list__icon {
  fill: #ffffff;
}

.header-menu {
  background-color: #FFFFFF;
}

.header-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.social-links {
  display: none;
}

.social-contakt-list {
  display: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.burger-btn__svg {
  width: 40px;
  height: 40px;
}

.burger-btn__svg:hover, .burger-btn__svg:focus {
  fill: var(--focus-color);
}

.mobile-menu {
  position: fixed;
  overflow-y: scroll;
  z-index: 5;
  background-color: #ffffff;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.mobile-menu__container {
  position: relative;
}

.mobile-menu__close-button {
  position: absolute;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
}

.nav-mobile {
  margin-top: -32px;
}

.nav-mobile__item {
  margin-top: 32px;
}

.mobile-menu__svg {
  width: 20px;
  height: 20px;
}

.nav-mobile-container {
  padding: 48px 25px;
}

.nav-mobile__link {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.nav-mobile__link:hover, .nav-mobile__link:focus {
  color: var(--focus-color);
}

.nav-mobile-tel {
  display: block;
  margin-top: auto;
  color: var(--focus-color);
}

.nav-mobile-mail {
  display: block;
  margin-top: 32px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--paragraph-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mobile-menu-social {
  padding-top: 64px;
  display: flex;
}

.mobile-menu-social__link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--focus-color);
}

.nav-mobile__position {
  margin-top: 40%;
}

.mobile-menu-social__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

@media screen and (max-width: 400px) {
  .nav-mobile__link {
    font-size: 35px;
    font-weight: 500;
    line-height: 1.17;
  }
  .nav-mobile-mail {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.1;
  }
  .mobile-menu-social {
    display: block;
  }
  .mobile-menu-social__item:not(:last-child) {
    border: none;
    padding: 0;
  }
  .mobile-menu-social__item:not(:first-child) {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .social-links {
    display: flex;
    margin-right: 63px;
  }
  .social-contakt-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-top: -10px;
  }
  .social-contakt-list__item {
    margin-top: 10px;
  }
  .header__logo {
    margin-right: 88px;
  }
  .social-links__list {
    display: flex;
  }
  .social-links__item {
    display: flex;
    position: relative;
  }
  .social-links__item:not(:last-child) {
    margin-right: 50px;
  }
  .social-links__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-links__link:hover, .social-links__link:focus,
  .social-links__link .is-current {
    color: var(--focus-color);
  }
  .social-contakt-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-contakt-list__link:hover, .social-contakt-list__link:focus {
    color: var(--focus-color);
  }
  .social-contakt-list__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .social-contakt-list {
    flex-direction: row;
    margin-left: auto;
  }
  .header-menu__container {
    justify-content: flex-start;
    padding-top: 26px;
    padding-bottom: 25px;
  }
  .social-contakt-list__item:not(:first-child) {
    margin-left: 50px;
  }
  .social-links {
    margin-right: 93px;
  }
  .social-contakt-list {
    margin-top: 0;
  }
  .social-contakt-list__item {
    margin-top: 0;
  }
}

.container-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-color: #2F303A;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 0px), screen and (min-resolution: 192dpi) and (min-width: 0px), screen and (min-resolution: 2dppx) and (min-width: 0px) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg/bg-2x.png");
  }
}

.container-hero__heading {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 360px;
  margin: 0 auto;
}

.container-hero__hero-heading {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.container-hero__hero-bottom {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-laptop.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg/bg-laptop-2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-desktop.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .container-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg/bg-desktop-2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .container-hero__hero-heading {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
  .container-hero__heading {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 700px;
  }
}

.benefits {
  margin: 0 auto;
}

.benefits-list {
  margin-top: -30px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.benefits-list__item {
  text-align: center;
  margin-top: 30px;
}

.benefits-list__link {
  display: block;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.benefits-list__icon {
  margin: 25px 0;
}

.benefits-list__heading {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.benefits-list__paragraph {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

@media screen and (max-width: 1200px) {
  .benefits__heading {
    display: none;
  }
  .benefits-img-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    width: 768px;
  }
  .benefits-list__item {
    width: 354px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    width: inherit;
  }
  .benefits-list__item {
    width: 270px;
    margin-left: 30px;
  }
  .benefits__heading {
    margin-top: 94px;
  }
  .benefits-img-list {
    margin-top: 50px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
  }
  .benefits-img-list__item {
    position: relative;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 30px;
    display: block;
  }
  .benefits-img-list__position {
    display: block;
  }
  .benefits-img-list__overlay {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 23.8%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 82px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .benefits-img-list__item:hover .benefits-img-list__overlay {
    transform: translateY(0%);
  }
}

.stuff {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

.stuff-list {
  margin: 0 auto;
  width: 100%;
}

.stuff__heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.stuff-list__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.stuff-list__item {
  margin-top: 30px;
}

.stuff-list__border {
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.stuff-list__heading {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.stuff-list__paragraph {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.stuff__icon-list {
  margin-top: 16px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .stuff-list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 354px);
  }
}

@media screen and (min-width: 1200px) {
  .stuff-list {
    display: flex;
  }
  .stuff-list__img {
    display: block;
    width: 270px;
    height: 260px;
  }
  .stuff-list__item {
    margin-top: 50px;
  }
  .stuff {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-clients {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 94px;
}

.our-clients__heading {
  margin-bottom: 30px;
}

.our-clients-list__item:not(:first-child) {
  margin-top: 30px;
}

.our-clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list__link:hover, .our-clients-list__link:focus {
  border-color: #2196F3;
  cursor: pointer;
}

.our-clients-list__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list__link:hover .our-clients-list__icon,
.our-clients-list__link:focus .our-clients-list__icon {
  fill: #2196F3;
}

@media screen and (min-width: 480px) {
  .our-clients-list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 210px);
  }
  .our-clients-list__item:not(:first-child) {
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .our-clients {
    width: 768px;
  }
  .our-clients-list {
    grid-template-columns: repeat(3, 226px);
  }
}

@media screen and (min-width: 1200px) {
  .our-clients {
    width: 1200px;
  }
  .our-clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .our-clients-list__link {
    width: 170px;
  }
}

.footer {
  background-color: #2F303A;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  text-align: center;
}

.footer-contact-list {
  margin-top: 20px;
}

.footer-contact-list-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-list__adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-list__adress:hover, .footer-contact-list__adress:focus {
  color: var(--focus-color);
}

.footer-contact-list__item {
  margin-top: 10px;
}

.footer-contact-list__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-list__link:hover, .footer-contact-list__link:focus {
  color: var(--focus-color);
}

.logo_color_white {
  color: #FFFFFF;
}

.footer__paragraph {
  margin-top: 60px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__icon-list {
  margin-top: 20px;
  padding-bottom: 30px;
}

.social-icon-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer__icon-link {
  background: rgba(255, 255, 255, 0.1);
}

.social-icon-list__icon {
  width: 20px;
  height: 20px;
}

.footer__icon-fill-white {
  fill: #ffffff;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: #2196F3;
}

.footer__form-paragraph {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form__mail {
  width: 100%;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
  color: #ffffff;
}

.footer-form__mail:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.footer-form__mail::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  text-align: left;
  margin-top: 20px;
}

.footer-form__text-position {
  position: relative;
  margin-left: 28px;
}

.footer-form__button-svg {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer__form-position {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list {
    justify-content: space-between;
  }
  .footer-list__item, .footer__form-position {
    text-align: start;
  }
  .footer-form__mail {
    width: 358px;
  }
  .footer__form-paragraph {
    margin: 0px;
  }
  .footer__form-position, .footer__paragraph {
    margin-top: 0px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button {
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.backdrop__button-style {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.backdrop__button-svg {
  width: 11px;
  height: 11px;
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button-style:hover .backdrop__button-svg {
  fill: var(--focus-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 480px) {
  .backdrop__button {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__button {
    width: 528px;
  }
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form__heading {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.modal-form__paragraph {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-color);
}

.modal-form__icon-position {
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.modal-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border: 1px solid var(--focus-color);
  border-radius: 4px;
}

.modal-form__icon-links {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: block;
}

.modal-form__icon {
  fill: var(--main-color);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon-links .modal-form__icon {
  fill: var(--focus-color);
}

.modal-form__textarea-heading {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-color);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal-form__textarea:focus {
  outline: none;
  border: 1px solid var(--focus-color);
  border-radius: 4px;
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  padding-top: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.modal-form__checkbox-label::before {
  content: "";
  display: block;
  cursor: pointer;
  width: 16px;
  height: 15px;
  background-image: url("../img/checkbox/icon-checkbox.svg");
}

.modal-form__checkbox-input:checked + .modal-form__checkbox-label::before {
  background-image: url("../img/checkbox/icon-checkbox-check.svg");
}

.modal-checkbox__text-position {
  margin-left: 8px;
}

.modal-checkbox__link-color {
  color: var(--focus-color);
}

.modal-form__btn {
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .modal-form__checkbox-label {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    padding-left: 13px;
  }
  .modal-form__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
}

.header__border {
  border-top: 1px solid #ECECEC;
}

.portfolio-nav__list {
  margin-top: -15px;
  padding-top: 60px;
  margin-left: -8px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 516;
}

.portfolio-nav__item {
  margin-left: 8px;
  margin-top: 15px;
}

.portfolio-nav__buttom {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border: none;
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav__buttom:hover, .portfolio-nav__buttom:focus {
  background: var(--focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .portfolio-nav__list {
    margin-top: 0;
    justify-content: center;
  }
  .portfolio-nav__item {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-nav__list {
    padding-top: 94px;
  }
}

.catalog-list {
  display: block;
  margin: 0 auto;
  padding-bottom: 60px;
}

.catalog-list__item {
  margin-top: 30px;
}

.catalog-list__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.catalog-list__link:hover, .catalog-list__link:focus {
  display: block;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.catalog-list__border {
  margin: 0;
}

.catalog-list__border-img {
  display: block;
  width: 100%;
}

.overlay-catalog-img-position {
  position: relative;
  overflow: hidden;
  display: block;
}

.catalog-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.catalog-list__border:hover .catalog-list__overlay {
  transform: translateY(0%);
}

.catalog-list__text-position {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}

.catalog-list__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.catalog-list__paragraph {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

@media screen and (min-width: 768px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .catalog-list__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .catalog-list {
    padding-bottom: 94px;
  }
}

.is-current {
  color: var(--focus-color);
}

.is-current::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--focus-color);
  bottom: -29px;
}

@media screen and (min-width: 1200px) {
  .is-current::after {
    bottom: -32px;
  }
}

.is-current-mobile {
  color: var(--focus-color);
}
/*# sourceMappingURL=main.css.map */