.footer {
    background-color: #2F303A;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list {
    text-align: center;
}

.footer-contact-list {
    margin-top: 20px;
}

.footer-contact-list-link {
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-list__adress {
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--focus-color);
    }
} 

.footer-contact-list__item {
    margin-top: 10px;
}

.footer-contact-list__link{
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
        color: var(--focus-color);
    }
}

.logo_color_white {
    color: #FFFFFF;
}

.footer__paragraph {
    margin-top: 60px;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__icon-list{
    margin-top: 20px;
    padding-bottom: 30px;
}

.social-icon-list__item:not(:last-child) {
    margin-right: 10px; 
}

.footer__icon-link {
    background: rgba(255, 255, 255, 0.1);
}

.social-icon-list__icon {
    width: 20px;
    height: 20px;
}

.footer__icon-fill-white {
    fill: #ffffff;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
    background-color: #2196F3;
}

.footer__form-paragraph {
    margin-bottom: 20px;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-form__mail {
    width: 100%;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
    margin-right: 12px;
    color: #ffffff;
    &:focus {
        outline: none;
        border: 1px solid #2196F3;
    }
    &::placeholder {
        @include font(16px, 400, 20px);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-form__button { 
    text-align: left;
    margin-top: 20px;
}

.footer-form__text-position {
    position: relative;
    margin-left: 28px;
}

.footer-form__button-svg {
    position: absolute;
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
    .footer-list {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .footer__form-position {
        margin-top: 60px;
    }

}

@media screen and (min-width: 1200px) {
    .footer-list {
        justify-content: space-between;
    }

    .footer-list__item, .footer__form-position {
        text-align: start;
    }

    .footer-form__mail {
        width: 358px;
    }

    .footer__form-paragraph {
        margin: 0px;
    }

    .footer__form-position, .footer__paragraph{
        margin-top: 0px;
    }
}

