.is-current {
    color: var(--focus-color);
    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 4px;
        border-radius: 2px;
        width: 100%;
        background-color: var(--focus-color);
        bottom: -29px;
    } 
}

@media screen and (min-width:1200px) {
    .is-current::after {
        bottom: -32px;
    }
}


.is-current-mobile {
    color: var(--focus-color);
}


