.heading {
    @include font(28px, 700, 33px);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

@media screen and (min-width: 1200px) {
    .heading {
        @include font(36px, 700, 42px);
    }
}